* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(4%, 1% + 2vw, 6.25%);

  --hue: 194;
  --bg-color: hsl(var(--hue), 5%, 7%);
  --text-color: hsl(var(--hue), 40%, 98%);
  --bg-controls: hsl(var(--hue), 0%, 14%);
  --color-icons: hsl(var(--hue), 100%, 63%);
  --button-secondary: hsl(var(--hue), 40%, 98%);
}

html.ligth {
  --hue: 194;
  --bg-color: hsl(var(--hue), 40%, 98%);
  --text-color: hsl(var(--hue), 5%, 7%);
  --bg-controls: hsl(var(--hue), 0%, 14%);
}

html.ligth .ph-sun,
html:not(.ligth) .ph-moon{
  display: none;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  display: grid;
  height: 100vh;
  place-content: center;
  font-family: "Roboto";
}

#app {
  display: grid;
  justify-items: center;
}

#toogle-mode {
  position: absolute;
  font-size: 32rem;
  right: 32rem;
  top: 32rem;
  color: var(--text-color);
}

.flex {
  display: flex;
}

#timer {
  font-weight: 700;
  font-size: 96rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#controls {
  margin-top: 16rem;
  padding: 22rem 40rem;
  gap: 16rem;
  background: var(--bg-controls);
  border-radius: 999rem;
}

button {
  background: transparent;
  border: 0;
  color: var(--color-icons);
  cursor: pointer;
  font-size: 64rem;
}

button.secondery {
  color: var(--button-secondary);
}

.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
  display: none;
}
